.home {
  width: 85%;
  max-width: 1100px;
  height: 100%;
  display: flex;
  text-align: center;
  justify-content: space-between;
  margin-inline: auto;
  padding-left: 5rem;
}

.chatconatiner {
  width: 25rem;
  height: 100vh;
  background-color: #ff5871;
  border-radius: 0.68rem;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.swiper-container {
  width: 35rem;
  height: 100vh;
  background-color: #ff5871;
  border-radius: 0.68rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  overflow: hidden;
  padding-top: 5rem;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

/* ------------------------------- */

.swipe {
  position: absolute;
}

.card-container {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 30rem;
  overflow: hidden;
}

.card {
  position: relative;
  background-color: #fff;
  width: 20rem;
  max-width: 20rem;
  height: 30rem;
  border-radius: 20px;
  background-size: cover;
  background-position: center;
  object-fit: contain;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.cardContent {
  width: 100%;
  height: 100%;
}

/* .swipe:last-of-type {

} */

.card h3 {
  position: absolute;
  bottom: 0;
  margin: 10px;
  color: #212121;
  font-family: "Poppins";
}
